<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar_pages.ejs") %>

<main id="main">

  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Catálogo de produtos</h2>
        <ol>
          <li><a href="index.html">Início</a></li>
          <li>produtos</li>
        </ol>
      </div>

    </div>

  </section>

  <section id="products" class="portfolio inner-page">
    <div class="container" data-aos="fade-up">
        
      <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">Todos</li>
                  <% suppliers.forEach(supplier => {%>
                      <li data-filter=".filter-<%= supplier.title %>"><%= supplier.title %></li>
                  <% }) %>
              </ul>
          </div>
      </div>

        <div class="row justify-content-md-center portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <% products.forEach(products => {%>
            <div class="col col-lg-2 portfolio-item filter-<%= products.supplier.title %>">
              <div class="card" style="text-align: center;">
                <img style="padding: 7%; margin: 12.5%;" src="<%= products.picture %>">
                <div class="card-body" >
                  <h5 class="card-title"><%= products.supplier.title %></h5>
                  <p class="card-text"><%= products.title %></p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>

    </div>
  </section>

  </main>

<!--Footer -->
<%- include("../sections/10_footer.ejs") %>
<%- include("../partials/footer.ejs") %>