<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include("../navbar_admin.ejs") %>

<main id="pages">
    <section class="pages">
        <div class="container d-flex justify-content-center"  style="padding-top: 8rem;">
            <div class="card text-center">
                <div class="card-header" style="width: 30rem;"><br>
                    <p class="fs-4">Registrar produto</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="/product/new" enctype="multipart/form-data">
                        <input class="form-control mb-1" name="title" type="text" placeholder="Titulo" maxlength="41" required>
                        <input class="form-control mb-1" name="code" type="text" placeholder="Código" required>
                        <input class="form-control mb-1" name="price" type="text" placeholder="Preço">
                        <input class="form-control mb-1" name="amount" type="number" placeholder="Quantidade">
                        <select class="form-control mb-1" name="supplier">
                            <% suppliers.forEach((supplier) => {%>
                                <option value="<%= supplier.id %>"><%= supplier.title %></option>
                            <% }) %>
                        </select>
                        <input class="form-control mb-1 mt-1" name="picture" type="file" required>
                        <button type="submit" class="btn btn-success btn-block mt-2">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Footer -->
<%- include("../../partials/footer.ejs") %>
