<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include("../navbar_admin.ejs") %>

<main id="pages">
    <section class="pages">
        <div class="d-flex justify-content-center mt-4"  style="padding-top: 5rem;">
            <div class="card text-center mt-4">
                <div class="container text-center mt-4">
                    <a class="btn btn-success" href="/admin/supplier/new">Criar novo fornecedor</a>
                    <table class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th>Fornecedor</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% suppliers.forEach(suppliers => {%>
                            <tr>
                                    <td><%= suppliers.title%></td>
                                    <td><a class="btn btn-warning" href="/admin/suppliers/edit/<%= suppliers.id %>">Editar</a></th>
                                    <form method="POST" action="/suppliers/delete" onsubmit=deleteCheck(event,this)>
                                        <input type="hidden" name="id" value="<%= suppliers.id %>">
                                        <td><button class="btn btn-danger">Deletar</button></td>
                                    </form>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Footer -->
<%- include("../../partials/footer.ejs") %>